<div class="card" (click)="onClick()">
  <ng-container *ngIf="details; else loadingTpl">
    <div class="card-top">
      <img
        [src]="details.sprites.front_default"
        [alt]="name"
        class="sprite"
      />
    </div>
    <div class="card-bottom">
      <h3>{{ name | titlecase }}</h3>
      <div class="card-id">#{{ details.id | number: '3.0' }}</div>
      <div class="types">
        <span
          *ngFor="let t of details.types"
          class="type"
          [ngStyle]="{ backgroundColor: typeColors[t.type.name] || '#aaa' }"
        >
          {{ t.type.name }}
        </span>
      </div>
    </div>
  </ng-container>

  <ng-template #loadingTpl>
    <div class="card-loading">Cargando...</div>
  </ng-template>
</div>
