.container {
  max-width: 1370px;
  margin: 0 auto;
  padding: 24px 16px;
  text-align: center;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
}

.search-bar {
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
}

.search-bar input {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 260px;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* Estilos para <a> que envuelve la tarjeta */
.card-link {
  text-decoration: none !important;
  color: inherit !important;
  display: block;
}

/* Asegura que ningún elemento dentro herede estilos de enlace */
.card-link *,
.card-link h3,
.card-link p,
.card-link span {
  color: inherit !important;
  text-decoration: none !important;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.pagination button {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
}

.pagination button:hover {
  background-color: #f3f3f3;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.search-wrapper {
  position: relative;
  display: inline-block;
  width: 360px;
}

.search-wrapper input {
  width: 100%;
  padding: 12px 16px 12px 40px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.search-icon {
  position: absolute;
  top: 43%;
  left: 10px;
  width: 20px;
  height: 20px;
  color: #888;
  transform: translateY(-50%);
  pointer-events: none;
}
